.container {
  display: flex;
  max-width: 500px;
  flex-wrap: wrap;
}
.item {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.matched {
  border: 1px solid green;
  background-color: lightgreen;
}

.hide {
  border: 1px solid grey;
  background-color: grey;
}

.show {
  border: 1px solid red;
  background-color: white;
}
